.readerBox{
    background-color: white;
    width: 100%;
    height: 80%;



    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.bookPage{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 10% 80%;
    grid-gap: 30px 0px;
}
#translateButton{
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: end;
    height:80px;
    width: 90px;
    /* background-color: gray; */
}
#soundButton{
    grid-column-start: 1;
    grid-column-end: 1;
    height:80px;
    width: 100px;
    /* background-color: gray; */
    text-align: left; 
}
#helpButton{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    height:80px;
    width: 100px;
    /* background-color: gray; */
    text-align: left;
}
#unsavedButton{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: end;
    height:80px;
    width: 100px;
    background-color: gray;
}

#closeButton{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: end;
    height:80px;
    width: 100px;
    /* background-color: gray; */
}

#openPopupButton{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    height:80px;
    width: 100px;
    /* background-color: gray; */
    text-align: left;
}

html{
    height:100%;
}
body{
    display: grid;
    height: 80%;
    background-color: gray;
}

#bookTitle{
    text-align: center;
    grid-area: 2/2/2/2;
}
.language{
    margin-left: 5%;
    grid-area: 3/2/3/2;
    background-color: white;
}
#bookText{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

#leftButton{
    position: fixed;
    bottom: 25%;
    left: 25%;
    height: 5%;
    width: 10%;
}

#rightButton{
    position: fixed;
    bottom: 25%;
    right: 25%;
    height: 5%;
    width: 10%;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#vocabModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#vocabModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#vocabModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#vocabModal .close:hover,
#vocabModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.openPopupButton{}